.ui.dark.menu {
    background-color: #2c2f33 !important;
    box-shadow: none;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.ui.dark.menu a.item {
    color: #ffffff !important;
    font-size: 1.1em;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

.ui.dark.menu .active.item {
    color: #007bff !important;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: none;
}

.ui.dark.menu a.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #1E90FF !important;
    border-bottom: none;
}

.centered-header {
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-size: 2rem !important;
    font-weight: bold !important;
    color: #ffffff !important;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8) !important;
    margin-bottom: 10px !important;
}

body {
    background-image: url('../img/homepage.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}