.ui.dark.menu {
    background-color: #2c2f33 !important;
    box-shadow: none;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.ui.dark.menu a.item {
    color: #ffffff !important;
    font-size: 1.1em;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

.ui.dark.menu .active.item {
    color: #F44336 !important;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: none;
}

.ui.dark.menu a.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #F44336 !important;
    border-bottom: none;
}

.text-content h1 {
    font-size: 5.4rem !important;
    font-weight: bold !important;
    color: #ffffff !important;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8) !important;
    margin-bottom: 10px !important;
}

.text-content p {
    font-size: 2.6rem !important;
    font-weight: bold !important;
    color: #ffffff !important;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 1) !important;
    margin-bottom: 20px !important;
}



.text-content .ui.button.primary {
    font-size: 1.5rem !important;
    padding: 15px 30px !important;
    background-color: #D32F2F !important;
    color: #ffffff !important;
}

.ui.button.primary:hover {
    background-color: #b22222 !important;
}


.background-section {
    background-image: url('../img/home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.text-content {
    position: relative;
    z-index: 2;
}


footer .ui.center.aligned.container p {
    margin: 5px 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}