.ui.dark.menu {
    background-color: #2c2f33 !important;
    box-shadow: none;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.ui.dark.menu a.item {
    color: #ffffff !important;
    font-size: 1.1em;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

.ui.dark.menu .active.item {
    color: #D32F2F !important;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: none;
}

.ui.dark.menu a.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #D32F2F !important;
    border-bottom: none;
}

main.ui.container {
    margin-top: 30px !important;
    padding-bottom: 30px;
}

.label {
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    padding: 1em 0;
    background-color: #1b1c1d;
    color: white;
    text-align: center;
}


.ui.fluid.dropdown {
    margin-top: 10px;
}

.ui.button {
    margin-top: 10px;
    background-color: #D32F2F !important;
    color: #ffffff;
}

.medium.ui.button:hover {
    background-color: #b22222 !important;
    color: #ffffff;
}

.label-bold {
    font-weight: bold;
    margin-right: 2px;
}

.ui.segment a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.ui.segment a:hover {
    text-decoration: underline;
    color: #003366;
}

.flag-icon {
    margin-left: 10px;
}